@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Issuer - @ViewBag.Title</title>
</head>
<body>
<header>
	<div>Logo</div>
	<span>@ViewBag.Title</span>
</header>
<div id="Content">@RenderBody()</div>
</body>
</html>
