@model Surrogat.Areas.CentralBank.ViewModels.BankSummaryViewModel
@{
    Layout = "~/Areas/CentralBank/Views/Shared/_CentralBankLayout.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Bills</div>
            <div class="panel-body">
                @{
                    Html.RenderAction("List", "Bill");
                }
            </div>
        </div>
    </div>
    <div class="col-md-2">
            @foreach (var i in @Model.IssuerIds)
            {
                Html.RenderAction("IssuerAccount", "Bank", new {IssuerId = @i});
            }
        </div>
    <div class="col-md-2">
        @foreach (var i in @Model.AcquirerIds)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                     <img width="24" src="@Url.Content("~/Images/acquirer.png")" /> Acquirer: @i 
                </div>
                <div class="panel-body">
                    saldo von acquirer @i
                </div>
            </div>
        }
    </div>

</div>