@model Surrogat.Areas.CentralBank.ViewModels.IssuerViewModel

<div class="panel panel-default">
    <div class="panel-heading">Issuer: @Model.IssuerId </div>
    <div class="panel-body">
        Saldo: @Model.Saldi
    </div>
</div>